In [3]:
import datetime

print(datetime.date.today() + datetime.timedelta(days=5))

2021-12-09

In [2]:
from platform import python_version

print(python_version())

3.8.10

In [30]:
import sqlite3 as sl
import pandas as pd

db_con = sl.connect('/workspaces/vscode-ubuntu-container/resource/nse_india.db')
nifty50 = pd.read_sql('''
    SELECT * FROM HISTORICALINDICES WHERE Indices = 'NIFTY 50';
''', db_con, parse_dates=['Date'], index_col='Date')

In [31]:
nifty50.head()

,id,Open,High,Low,Close,Shares Traded,Turnover (Rs. Cr),Indices
Date,,,,,,,,
1998-01-01,1,1078.95,1084.50,1074.15,1081.20,24612770,789.56,NIFTY 50
1998-01-02,2,1081.00,1091.30,1081.00,1086.20,25926181,769.81,NIFTY 50
1998-01-05,3,1086.60,1102.15,1086.60,1091.65,31888604,988.04,NIFTY 50
1998-01-06,4,1091.25,1091.25,1074.10,1079.15,33045893,1155.84,NIFTY 50
1998-01-07,5,1079.95,1097.30,1071.75,1082.40,41508588,1188.3,NIFTY 50

In [71]:
import datetime
import numpy_financial as np

def select_sip_dates(navs, sip_day, start, end):
  dates = []
  for yr in range(start.year, end.year + 1):
    for mth in range(1, 13):
      temp = datetime.date(yr, mth, sip_day)
      sip_dt = navs.loc[temp : temp + datetime.timedelta(days=7)].iloc[0].name
      dates.append(sip_dt)

  return dates

start_dt = datetime.date.fromisoformat('2000-01-01')
for i in range(0, 20):
  print('Year:', start_dt.year)
  _dates = select_sip_dates(nifty50, 5, start_dt, start_dt + datetime.timedelta(days=366*10))
  _outflow = nifty50.loc[_dates[:-1]].Close.multiply(-1).to_list()
  _units = nifty50.loc[_dates[:-1]].Close.count()
  _inflow = nifty50.loc[_dates[-1]].Close * _units
  _irr = np.irr(_outflow + [_inflow]) * 12
  print("Annualized IRR: {:.2%}".format(_irr));
  start_dt = start_dt + datetime.timedelta(days=366)

# pd.set_option('max_row', 10)
# print(nifty50.loc[_dates].Close)

Year: 2000
Annualized IRR: 25.20%
Year: 2001
Annualized IRR: 32.76%
Year: 2002
Annualized IRR: 0.75%
Year: 2003
Annualized IRR: 16.73%
Year: 2004
Annualized IRR: 15.62%
Year: 2005
Annualized IRR: 5.78%
Year: 2006
Annualized IRR: 7.20%
Year: 2007
Annualized IRR: 6.54%
Year: 2008
Annualized IRR: 13.46%
Year: 2009
Annualized IRR: 8.29%
Year: 2010
Annualized IRR: 6.71%
Year: 2011
Annualized IRR: 10.81%
Year: 2012
Annualized IRR: 9.82%
Year: 2013
Annualized IRR: 9.82%
Year: 2014
Annualized IRR: 10.22%
Year: 2015

IndexError: single positional indexer is out-of-bounds